@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gilroy;

  /* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal; */
}

html,
body {
  width: 100%;
  height: 100%;
  /* font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal; */
}
.main {
  /* background-color: black; */
  position: relative;
  z-index: 10;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
#nav {
  padding: 2.5vw 2vw;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #837e7d;
  border-radius: 50px;
  color: black;
  transition: all ease 0.4s;
  position: relative;
  font-size: 15px;
  overflow: hidden;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  text-decoration: none;
  color: black;
  position: relative;
  z-index: 9;
}
#nav-part2 h4 a:hover {
  color: #efeae3;
}
#nav h3 {
  display: none;
}

/* ---nav complete */
/* center code begains */

#center {
  width: 100%;
  height: 65vh;
  /* background-color: rgb(225, 128, 18); */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 2.5vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#center h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}

#page1 video {
  width: 100%;
  margin-top: 4vw;
  border-radius: 25px;
  position: relative;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 75vh;
  /* filter: blur(20px); */
}

#hero-1 {
  height: 90%;
  width: 100%;
  background-color: #fe320a;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  filter: blur(10px);
}
#hero-2 {
  height: 30vw;
  width: 30vw;
  position: absolute;
  background: linear-gradient(#fe320a, #fe5f0afe);
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#hero-3 {
  height: 30vw;
  width: 30vw;
  position: absolute;
  background: linear-gradient(#fe320a, #fe5f0afe);
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
    transform: translate(-55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}

/* ------------page2 begains*/
#page2 {
  width: 100vw;
  min-height: 100vh;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

#gola {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fe320a;
  display: inline-block;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* page3-bottom css */

#page2-bottom {
  height: 80vh;
  width: 100%;
  background-color: #efeae3;
  padding: 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
  z-index: 9;
}

#bottom-part2 {
  width: 20%;
}

#bottom-part2 img {
  width: 100%;
  border-radius: 20px;
}

#bottom-part2 p {
  font-weight: 100;
  margin-top: 2vw;
  font-size: 1vw;
}

#page2 #gooey1 {
  height: 28vw;
  width: 28vw;
  position: absolute;
  background-color: #f99d2d;
  border-radius: 50%;
  top: 56%;
  left: 25%;
  filter: blur(20px);
}

#gooey2 {
  height: 27vw;
  width: 27vw;
  position: absolute;
  background-color: #fe330a;
  border-radius: 50%;
  top: 60%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes gooey {
  from {
    transform: translate(10%, -10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-10deg);
  }
}

#page3 {
  width: 100%;
  min-height: 60vw;
  background-color: #efeae3;
  padding-top: 4vw 0;
}

.elem {
  height: 150px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgb(224, 218, 218);
  display: flex;
  align-items: center;
  padding: 0 2vw;
  position: relative;
  overflow: hidden;
}

.elem h2 {
  font-size: 3vw;
}

.elem .overlay {
  width: 100%;
  height: 100%;
  background-color: #ff9831;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
}

/* orange color */
.elem:hover .overlay {
  top: 0;
}

#fixed-image {
  height: 30vw;
  width: 24vw;
  border-radius: 25px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}

/* page 4 code */
#page4 {
  width: 100%;
  height: 70vh;
  background-color: #efeae3;
  padding: 10vw 2vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 30%;
  border-left: 1px solid gray;
  padding: 0 2vw;
}
#page4 .swiper-slide img {
  width: 40%;
}
.swiper-slide p {
  width: ;
}

/* page 5 */
#page5 {
  width: 100%;
  height: 100vh;
}

#footer {
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 9;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#footer h1 {
  font-size: 24vw;
}
#footer-div {
  display: flex;
  flex-direction: column;
  height: 10vw;
  width: 100%;
  /* background-color: #fe330a; */
  /* filter: blur(10%); */
}
#footer-div .divs {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 5vw;
  position: relative;
}
#footer-div .footer-left h2 {
  font-size: 2.5vw;
}
#footer-div .footer-right {
}
#footer-div .footer-right p {
  font-size: 1.3vw;
  width: 20vw;
}
.footer-right h6 {
  font-size: 1.7vw;
  color: #cac4c1;
  border-bottom: 1px solid #cac4c1;
  margin-top: 2vw;
}
/* 2 bolls */
.bolls {
  display: flex;
  justify-content: space-between;
  top: -10%;
  position: absolute;
}
#shape1 {
  height: 20vw;
  width: 80vw;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 80%;
  background-color: #fe330a;
  filter: blur(20px);
  animation-name: gooey1;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
#shape2 {
  height: 30vw;
  width: 80vw;
  border-bottom-left-radius: 80%;
  /* border-bottom-right-radius: 80%; */
  background-color: #fe330a;
  /* top:50px; */
  filter: blur(20px);
  animation-name: gooey2;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes gooey2 {
  from {
    transform: translate(0%, 10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-10deg);
  }
}
@keyframes gooey1 {
  from {
    transform: translate(0%, -10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-10deg);
  }
}

#footer-bottom {
  width: 100%;
  height: 0vw;
  border-top: 2px solid rgb(78, 77, 77);
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw;
  margin-bottom: 2vw;
}
#footer-bottom h5 {
  font-size: 1.3vw;
}

/* menu scree full-scr */
#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #0202022c;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.4s;
}

#full-div1 {
  height: 50%;
  width: 100%;
  background-color: #efeae3;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
#full-div1 h3{
  /* margin-top: 5vw; */
  line-height: 9vw;
}

/* ye tab apply hogi jab mari scree 600px ya usse kam hongi  600px se*/
@media (max-width: 600px) {
  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0 0vw;
  }
  #nav {
    padding: 8vw 5vw;
    background-color: #efeae3;
  }

  #nav img {
    transition: all ease 0.1s;
    height: 10vh;
  }

  #nav-part2 {
    display: none;
  }
  #nav h3 {
    display: block;
    padding: 3vw 5vw;
    border: 1px solid gray;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
    padding-left: 5vw;
  }

  #center {
    width: 100%;
    height: 62vh;
    /* background-color: rgb(225, 128, 18); */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgb(108, 106, 106);
    padding-bottom: 10vw;
    padding: 5vw 5vw;
    position: relative;
    z-index: 9;
  }

  #left h3 {
    width: 90%;
    font-size: 5.8vw;
    line-height: 7vw;
  }

  #center h1 {
    font-size: 16vw;
    text-align: right;
    line-height: 16vw;
  }

  #page1 video {
    width: 92%;
    margin-top: 4vw;
    border-radius: 15px;
    position: relative;
    margin-left: 4%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
  }

  #hero-shape {
    position: absolute;
    width: 56vw;
    height: 76vw;
    right: 0;
    top: 73vh;
  }

  #hero-1 {
    height: 90%;
    width: 100%;
    background-color: #ff2f05;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    filter: blur(10px);
  }
  /* page 2 */
  #page2 {
    width: 100vw;
    min-height: 100vh;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
  }

  #moving-text {
    white-space: nowrap;
    overflow-x: auto;
  }
  #moving-text::-webkit-scrollbar {
    display: none;
  }

  .con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #moving-text h1 {
    font-size: 10vw;
    display: inline-block;
  }

  #gola {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 1vw 2vw;
  }

  /* page -2 media query */
  #page2-bottom {
    height: 90vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  #page2-bottom h1 {
    font-size: 8vw;
    width: 100%;
    line-height: 8vw;
    z-index: 9;
  }

  #bottom-part2 {
    width: 70%;
  }

  #bottom-part2 img {
    width: 100%;
    border-radius: 10px;
    margin-top: 7vw;
  }

  #bottom-part2 p {
    font-weight: 100;
    margin-top: 4vw;
    font-size: 4.3vw;
  }

  #page2 #gooey1 {
    display: none;
  }

  #gooey2 {
    height: 60vw;
    width: 60vw;
    position: absolute;
    background-color: #fe4621;
    border-radius: 50%;
    top: 25%;
    left: 45%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  /* footer mobile view */
  #footer {
    position: fixed;
    z-index: 99;
    height: 90vh;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 9;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #footer h1 {
    font-size: 24vw;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: 100%;
    margin-bottom: 60vw;
    /* background-color: #fe330a; */
    /* filter: blur(10%); */
    /* position: relative; */
  }
  #footer-div .divs {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
    margin-right: 18vw;
    border-bottom: 1px solid #9f9e9d;
  }
  #footer-div .footer-left h2 {
    font-size: 8.5vw;
  }
  #footer-div .footer-right {
  }
  #footer-div .footer-right p {
    font-size: 4vw;
    width: 85vw;
    margin-top: 5vw;
  }
  .footer-right h6 {
    font-size: 5.7vw;
    color: #cac4c1;
    margin-top: 2vw;
  }
  /* 2 bolls */
  .bolls {
    display: flex;
    justify-content:center;
    align-items: center;
    top: -2%;
    position: absolute;
  }
  #shape1 {
    height: 50vw;
    width: 80vw;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 80%;
    background-color: #fe330a;
    filter: blur(20px);
    animation-name: gooey1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  #shape2 {
    height: 60vw;
    width: 100vw;
    border-bottom-left-radius: 80%;
    background-color: #fe330a;
    filter: blur(20px);
    animation-name: gooey2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes gooey2 {
    from {
      transform: translate(0%, 10%) skew(90);
    }
    to {
      transform: translate(-10%, 10%) skew(10deg);
    }
  }
  @keyframes gooey1 {
    from {
      transform: translate(0%, -10%) skew(0);
    }
    to {
      transform: translate(-10%, 10%) skew(-10deg);
    }
  }

  #footer-bottom {
    width: 100%;
    height: 0vw;
    border-top: 2px solid rgb(78, 77, 77);
    display: flex;
    justify-content: space-between;
    padding: 1vw 2vw;
    margin-bottom: 5vw;
  }
  #footer-bottom h5 {
    font-size: 2.3vw;
  }
}

#loader {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader h1 {
  font-size: 6vw;
  background: linear-gradient(to right, orange, orangered);
  color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  #loader h1 {
    font-size: 12vw;
  }
}

/* 
     1    ___________  1 opacity
          |         |
0_________|         |______________100
          10        90%

 */
